# Mozilla Observatory Scanner requirements have been merged in here

anyjson
beautifulsoup4
celery
click
coverage
dnspython
flake8
gevent
github3.py
grequests
httpobs-cli
itsdangerous
Jinja2
MarkupSafe
maxminddb-geolite2
mccabe
ndg-httpsclient
nose
pep8
psutil
publicsuffixlist
pyasn1
pycodestyle
pyflakes
pymongo
pyopenssl
pyrabbit
python-dateutil
python-gitlab
python-json-logger
pytz
requests
SSLyze==1.3.4
Werkzeug
pygithub
google-api-python-client
google-cloud-storage
pyyaml
pycryptodome
schematics
