[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
mockupdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-dotenv = "*"

[packages]
flask = "*"
flask-login = "*"
requests = "*"
flask-pymongo = "*"
gunicorn = "*"
flask-json = "*"
dnspython = "*"
schematics = "*"
pymongo="*"
pysaml2 = "*"
sendgrid = "*"
pycryptodome = "*"
pyyaml = "*"
pytz = "*"
validators = "*"
# cryptography >= 3.4.0 breaks the installation as of 2021/02/10
# because it is not installable via pipenv and also requires Rust
cryptography = "~=3.3.1"

[requires]
python_version = "3.8"

[scripts]
tests = "pytest tests"
